<main>
    <div class="margem"><br>
        <div id="apresentacao">
                <h1>Veja as novidades de JS</h1>
                <a href=""><span>Veja todos os posts &#x2192;</span></a>
            </div>
        <div id="gridNoticias">
            
            
                <div class="noticia1 noticias">
                    <a href="">
                        <img src="/imgs/imgnoticia.png" alt="">
                        <div class="conteudo">
                            <span>JavaScript</span>
                            <h3>Descubra como melhorar a segurança das suas aplicações em node.js</h3>
                        </div>
                        <button class="seta">&#x2197;</button>
                        
                    </a>
                </div>
            

            <a href="">
                <div class="noticia2 noticias">
                    <img src="{{noticia1.img1}}" alt="">
                    <h3>{{noticia1.nome_noticia}}</h3>
                    <span>{{noticia1.criado_em}}</span>
                </div>
            </a>
            <a href="">
                <div class="noticia3 noticias">
                    <img src="{{noticia1.img1}}" alt="">
                    <h3>{{noticia1.nome_noticia}}</h3>
                    <span>{{noticia1.criado_em}}</span>
                </div>
            </a>
            
        </div>
</div>
</main>